/* h1
{
background-color: rgb(155, 93, 93);
}*/
/* .heading
{
    background-color: darkkhaki;
}*/ 
#h

{
    text-align: center;
    color:hotpink;
    font-size: 50px;
    
}
body{
    background-repeat: no-repeat;
    background-size: cover ;
}
div{
   text-align: center;

}
.para{
    color: darkmagenta;
    font-weight:bold;
    font-style: italic;

}
#outer
{
    height: 300px;
    border: 20px solid brown;
    border-radius: 10px;
}
img{
    height: 200px;
    width: 500px;
}
.inner{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    
    margin: 20px;
}
*{
    box-sizing: border-box;
}